SRPF/S-RPFBackend/WebContent/wsdl/WSController.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="http://backend.srpf.csg.telespazio.com"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://backend.srpf.csg.telespazio.com"
	xmlns:intf="http://backend.srpf.csg.telespazio.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema elementFormDefault="qualified"
			targetNamespace="http://backend.srpf.csg.telespazio.com"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="performFeasibility">
				<complexType>
					<sequence>
						<element name="requestPath" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="performFeasibilityResponse">
				<complexType>
					<sequence>
						<element name="performFeasibilityReturn" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<complexType name="SrpfBackendException">
				<sequence />
			</complexType>
			<element name="fault" type="impl:SrpfBackendException" />
			<element name="manageAllocationPlan">
				<complexType>
					<sequence>
						<element name="requestPath" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="manageAllocationPlanResponse">
				<complexType />
			</element>
			<element name="manageODSTP">
				<complexType>
					<sequence>
						<element name="requestPath" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="manageODSTPResponse">
				<complexType />
			</element>
			<element name="managePAW">
				<complexType>
					<sequence>
						<element name="requestPath" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="managePAWResponse">
				<complexType />
			</element>
			<element name="performRefinement">
				<complexType>
					<sequence>
						<element name="requestPath" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="performRefinementResponse">
				<complexType>
					<sequence>
						<element name="performRefinementReturn" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="manageSoe">
				<complexType>
					<sequence>
						<element name="requestPath" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="manageSoeResponse">
				<complexType />
			</element>
			<element name="performExtension">
				<complexType>
					<sequence>
						<element name="requestPath" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="performExtensionResponse">
				<complexType>
					<sequence>
						<element name="performExtensionReturn" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="manageODNOM">
				<complexType>
					<sequence>
						<element name="requestPath" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="manageODNOMResponse">
				<complexType />
			</element>
			<element name="manageODMTP">
				<complexType>
					<sequence>
						<element name="requestPath" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="manageODMTPResponse">
				<complexType />
			</element>
			<element name="manageODREF">
				<complexType>
					<sequence>
						<element name="requestPath" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="manageODREFResponse">
				<complexType />
			</element>
		</schema>
	</wsdl:types>

	<wsdl:message name="managePAWResponse">

		<wsdl:part element="impl:managePAWResponse"
			name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="performRefinementResponse">

		<wsdl:part element="impl:performRefinementResponse"
			name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="performExtensionResponse">

		<wsdl:part element="impl:performExtensionResponse"
			name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="manageODREFRequest">

		<wsdl:part element="impl:manageODREF" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="manageODREFResponse">

		<wsdl:part element="impl:manageODREFResponse"
			name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="performExtensionRequest">

		<wsdl:part element="impl:performExtension" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="managePAWRequest">

		<wsdl:part element="impl:managePAW" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="manageODNOMResponse">

		<wsdl:part element="impl:manageODNOMResponse"
			name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="manageODSTPRequest">

		<wsdl:part element="impl:manageODSTP" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="manageSoeResponse">

		<wsdl:part element="impl:manageSoeResponse"
			name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="manageODMTPResponse">

		<wsdl:part element="impl:manageODMTPResponse"
			name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="SrpfBackendException">

		<wsdl:part element="impl:fault" name="fault">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="manageODMTPRequest">

		<wsdl:part element="impl:manageODMTP" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="manageODSTPResponse">

		<wsdl:part element="impl:manageODSTPResponse"
			name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="performRefinementRequest">

		<wsdl:part element="impl:performRefinement"
			name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="manageODNOMRequest">

		<wsdl:part element="impl:manageODNOM" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="performFeasibilityRequest">

		<wsdl:part element="impl:performFeasibility"
			name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="performFeasibilityResponse">

		<wsdl:part element="impl:performFeasibilityResponse"
			name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="manageAllocationPlanRequest">

		<wsdl:part element="impl:manageAllocationPlan"
			name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="manageSoeRequest">

		<wsdl:part element="impl:manageSoe" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="manageAllocationPlanResponse">

		<wsdl:part element="impl:manageAllocationPlanResponse"
			name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:portType name="WSController">

		<wsdl:operation name="performFeasibility">

			<wsdl:input message="impl:performFeasibilityRequest"
				name="performFeasibilityRequest">

			</wsdl:input>

			<wsdl:output message="impl:performFeasibilityResponse"
				name="performFeasibilityResponse">

			</wsdl:output>

			<wsdl:fault message="impl:SrpfBackendException"
				name="SrpfBackendException">

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="manageAllocationPlan">

			<wsdl:input message="impl:manageAllocationPlanRequest"
				name="manageAllocationPlanRequest">

			</wsdl:input>

			<wsdl:output message="impl:manageAllocationPlanResponse"
				name="manageAllocationPlanResponse">

			</wsdl:output>

			<wsdl:fault message="impl:SrpfBackendException"
				name="SrpfBackendException">

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="manageODSTP">

			<wsdl:input message="impl:manageODSTPRequest"
				name="manageODSTPRequest">

			</wsdl:input>

			<wsdl:output message="impl:manageODSTPResponse"
				name="manageODSTPResponse">

			</wsdl:output>

			<wsdl:fault message="impl:SrpfBackendException"
				name="SrpfBackendException">

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="managePAW">

			<wsdl:input message="impl:managePAWRequest"
				name="managePAWRequest">

			</wsdl:input>

			<wsdl:output message="impl:managePAWResponse"
				name="managePAWResponse">

			</wsdl:output>

			<wsdl:fault message="impl:SrpfBackendException"
				name="SrpfBackendException">

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="performRefinement">

			<wsdl:input message="impl:performRefinementRequest"
				name="performRefinementRequest">

			</wsdl:input>

			<wsdl:output message="impl:performRefinementResponse"
				name="performRefinementResponse">

			</wsdl:output>

			<wsdl:fault message="impl:SrpfBackendException"
				name="SrpfBackendException">

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="manageSoe">

			<wsdl:input message="impl:manageSoeRequest"
				name="manageSoeRequest">

			</wsdl:input>

			<wsdl:output message="impl:manageSoeResponse"
				name="manageSoeResponse">

			</wsdl:output>

			<wsdl:fault message="impl:SrpfBackendException"
				name="SrpfBackendException">

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="performExtension">

			<wsdl:input message="impl:performExtensionRequest"
				name="performExtensionRequest">

			</wsdl:input>

			<wsdl:output message="impl:performExtensionResponse"
				name="performExtensionResponse">

			</wsdl:output>

			<wsdl:fault message="impl:SrpfBackendException"
				name="SrpfBackendException">

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="manageODNOM">

			<wsdl:input message="impl:manageODNOMRequest"
				name="manageODNOMRequest">

			</wsdl:input>

			<wsdl:output message="impl:manageODNOMResponse"
				name="manageODNOMResponse">

			</wsdl:output>

			<wsdl:fault message="impl:SrpfBackendException"
				name="SrpfBackendException">

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="manageODMTP">

			<wsdl:input message="impl:manageODMTPRequest"
				name="manageODMTPRequest">

			</wsdl:input>

			<wsdl:output message="impl:manageODMTPResponse"
				name="manageODMTPResponse">

			</wsdl:output>

			<wsdl:fault message="impl:SrpfBackendException"
				name="SrpfBackendException">

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="manageODREF">

			<wsdl:input message="impl:manageODREFRequest"
				name="manageODREFRequest">

			</wsdl:input>

			<wsdl:output message="impl:manageODREFResponse"
				name="manageODREFResponse">

			</wsdl:output>

			<wsdl:fault message="impl:SrpfBackendException"
				name="SrpfBackendException">

			</wsdl:fault>

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="WSControllerSoapBinding"
		type="impl:WSController">

		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="performFeasibility">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="performFeasibilityRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="performFeasibilityResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

			<wsdl:fault name="SrpfBackendException">

				<wsdlsoap:fault name="SrpfBackendException"
					use="literal" />

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="manageAllocationPlan">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="manageAllocationPlanRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="manageAllocationPlanResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

			<wsdl:fault name="SrpfBackendException">

				<wsdlsoap:fault name="SrpfBackendException"
					use="literal" />

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="manageODSTP">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="manageODSTPRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="manageODSTPResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

			<wsdl:fault name="SrpfBackendException">

				<wsdlsoap:fault name="SrpfBackendException"
					use="literal" />

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="managePAW">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="managePAWRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="managePAWResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

			<wsdl:fault name="SrpfBackendException">

				<wsdlsoap:fault name="SrpfBackendException"
					use="literal" />

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="performRefinement">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="performRefinementRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="performRefinementResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

			<wsdl:fault name="SrpfBackendException">

				<wsdlsoap:fault name="SrpfBackendException"
					use="literal" />

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="manageSoe">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="manageSoeRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="manageSoeResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

			<wsdl:fault name="SrpfBackendException">

				<wsdlsoap:fault name="SrpfBackendException"
					use="literal" />

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="performExtension">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="performExtensionRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="performExtensionResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

			<wsdl:fault name="SrpfBackendException">

				<wsdlsoap:fault name="SrpfBackendException"
					use="literal" />

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="manageODNOM">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="manageODNOMRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="manageODNOMResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

			<wsdl:fault name="SrpfBackendException">

				<wsdlsoap:fault name="SrpfBackendException"
					use="literal" />

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="manageODMTP">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="manageODMTPRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="manageODMTPResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

			<wsdl:fault name="SrpfBackendException">

				<wsdlsoap:fault name="SrpfBackendException"
					use="literal" />

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="manageODREF">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="manageODREFRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="manageODREFResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

			<wsdl:fault name="SrpfBackendException">

				<wsdlsoap:fault name="SrpfBackendException"
					use="literal" />

			</wsdl:fault>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="WSControllerService">

		<wsdl:port binding="impl:WSControllerSoapBinding"
			name="WSController">

			<wsdlsoap:address
				location="http://localhost:8888/S-RPFBackend/services/WSController" />

		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
